# Environment files
.env
.env.backup
.env.production
*.env

# Dependencies
vendor/
node_modules/
backend/vendor/
frontend/node_modules/

# Build and caches
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
dist/
build/
apks/
*.apk
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Storage and logs
backend/storage/*.key
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
!backend/storage/logs/.gitignore
!backend/storage/framework/cache/.gitignore
!backend/storage/framework/sessions/.gitignore
!backend/storage/framework/views/.gitignore

# IDEs & OS
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
